<html>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Введите сообщение" />
            <input type="hidden" name="tag" placeholder="Тэг">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit">Отправить</button>
        </form>
    </div>
    <div style="font-size: 30px;">Чат</div>
    <div style="background: ghostwhite;
            font-size: 20px;
            padding: 10px;
            border: 1px solid lightgray;
            margin: 10px;">
    {{#messages}}
    <div>
        <span>{{text}}</span>
        <strong>{{authorName}}</strong>
        <i>{{dateString}}</i>
    </div>
    {{/messages}}
    </div>
</body>
</html>